{% extends "base.html" %}
{% block content %}
<h1>Engineering Toolbox</h1>
<div class="row">
<div class="col-md-4"><div class="card"><div class="card-body"><h4>Mechanical Design</h4><a href="/mechanical/" class="btn btn-primary">Open</a></div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body"><h4>Utilities</h4><a href="/utilities/" class="btn btn-primary">Open</a></div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body"><h4>MyWork</h4><a href="/mywork/" class="btn btn-primary">Open</a></div></div></div>
</div>
{% endblock %}
